*~
*.o
*.exe

obj
liblinguine.a

build/linux/linguine
build/linux/liblinguine.a
build/linux/liblinguine.so

build/macos/linguine
build/macos/liblinguine.a
build/macos/liblinguine-arm64.a
build/macos/liblinguine-x86_64.a
build/macos/liblinguine.dylib

build/win32/linguine.exe
build/win32/liblinguine.a
build/win32/liblinguine.dll

build/win64/linguine.exe
build/win64/liblinguine.a
build/win64/liblinguine.dll
